.exams-list .list-group-item .d-flex {
  display: flex;
  align-items: center;
}

.exams-list .list-group-item .btn {
  margin-left: auto;
  height: fit-content;
  display: block;
}

.submit-exam,
.add-exam {
  max-width: 60%;
  padding: 10px 20px;
  margin: 0 auto;
}

.submit-exam .form-group,
.add-exam .form-group {
  display: flex;
  flex-direction: column;
}

.exams-redirect {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.exams-redirect .btn {
  padding: 10px 20px;
}
