.login,
.register {
  background-color: #343947;
  height: 100vh;
}

.homepage-intro {
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgba(41, 45, 56, 0.95),
      rgba(63, 69, 86, 0.9)
    ),
    url("/assets/img/homepage-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-intro .homepage-description {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  color: white;
}

.homepage-intro .homepage-description h1 {
  font-weight: 100;
  font-size: 56px;
  margin-bottom: 20px;
}

.homepage-intro .homepage-description h4 {
  font-weight: 100;
  font-size: 36px;
  margin-bottom: 60px;
}

.homepage-intro .homepage-description .btn {
  align-self: flex-start;
  border-radius: 0;
  font-weight: 100;
  padding: 7px 25px;
}

.card {
  min-width: 25%;
}

.mainMenu {
  background-color: rgba(52, 57, 71, 0.6);
}

.mainMenu .navbar {
  background-color: transparent !important;
}
